body{
  background-color: lightgrey;
  font-weight: bold;
}

.App {
  text-align: center;
  
}

p { 
  font-family: monospace;
  
}

.App-header {
  color: lightgrey;
  background-color: #222;
  height: 10%;
  padding: 20px;
}

button{
  font-weight: bold;
  font-size: large;
  width: 20%;
  height: 4em;
  color: black;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}